@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');

header {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .header-logo {
    height: 4rem;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  .header-title {
    font-family: Merienda, cursive;
  }

  nav {
    align-items: center;
    background-color: white;
    border-top: 1px solid #e7e7e7;
    color: white;
    display: flex;
    font-size: 20px;
    height: 60px;
    text-align: center;
  }

  .nav-3 {
    justify-content: space-between;
  }

  .header-img {
    margin: 10px;
  }

  .nav-2 .header-img {
    left: 0;
  }

  .search-button {
    background-color: transparent;
    border: none;
    margin: 10px;
  }
}

.search-form {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  background-color: whitesmoke;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 0 0 5px 5px;

  .search-group {
    display: flex;
    flex-flow: row nowrap;

    .search-input {
      margin: 10px 5px;
    }

    button {
      margin: 0 10px;
      border: none;
      width: auto;
      height: auto;
      background-color: transparent;
    }
  }

  .checkbox-search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .offcanvas {
    width: 250px !important;
  }
  .offcanvas-start-lg {
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
  }
}

.navbar-nav li a {
  color: white !important;
}

@mixin link-list {
  a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    font-family: Thasadith;
    margin: 0.3rem 0.5rem;
  }

  i {
    margin-right: 1rem;
  }
}

.offcanvas-header {
  @include link-list;

  .divisor {
    display: flex;
    margin-top: 1.2rem;
    border-bottom: 1px solid black;
  }
}

.offcanvas-body {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-flow: column nowrap;

  @include link-list;

  .offcanvas-button {
    border: none;
    background-color: transparent;
    text-align: start;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    font-family: Thasadith;
    margin: 0.3rem 0;
  }

  .exit-button {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
  }

  button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
